<div id='page1'>
  <h3>You have three chances to unscramble the word.<br>
  If you succeed, you get a point.<br>
  If you fail, you lose a point.</h3>
  <br>
  <button id='letsplay' class="btn btn-info btn-lg">
    Let's Play!
  </button>
</div>
<div id='page2'>
  <h3 id="message">Here's your first word.  Good Luck!</h3>
  <br>

  <div id='word-out'>
    <div id="score">Score: 0</div>
    <div id='word'></div>
  </div>
  <br>
  <form>
    <input id='guess' type='text' placeholder="Enter your guess" autofocus />
    <button id='submit' class="btn btn-success" type='submit'>Submit</button>
  </form>
</div>