<div id='header'>
  <h2>
    Pick a color and paint the canvas
  </h2>  
</div>
<div id='board'>
  <div id="color-section">
    <div class="color red"></div>
    <div class="color yellow"></div>
    <div class="color blue"></div>
    <div class="color white"></div>
    <div id="span-selected">Selected:</div>
    <div class="selected white"></div>
  </div>
  <div id="grid">
    <div class="cell r1c1"></div>
    <div class="cell r1c2"></div>
    <div class="cell r1c3"></div>
    <div class="cell r1c4"></div>
    <div class="cell r2c1"></div>
    <div class="cell r2c2"></div>
    <div class="cell r2c3"></div>
    <div class="cell r2c4"></div>
    <div class="cell r3c1"></div>
    <div class="cell r3c2"></div>
    <div class="cell r3c3"></div>
    <div class="cell r3c4"></div>
    <div class="cell r4c1"></div>
    <div class="cell r4c2"></div>
    <div class="cell r4c3"></div>
    <div class="cell r4c4"></div>
  </div>  
</div>
