<div class='container'>
  <h2 class="orange">I am teaching myself to code by making one website per weekday!</h2>
  <p>Recently I have been trying to learn how to program but have had limited success. Most of my training has been reading books, taking online classes, and working through tutorials.</p>
  <p>Now I am taking a different approach. I read about <a href="http://jenniferdewalt.com/" target="_blank">Jennifer Dewalt, who created 180 websites in 180 days</a>. The idea is that you learn and retain information better by actually building something yourself. So I will use her daily website ideas as a guide and see what I can do!</p>
  <p>My plan is to build a website each day. I want to focus on Javascript and eventually learn related technologies such as Node.JS, Meteor, MongoDB, etc...</p>
</div>