<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1 class="orange">Howdy!</h1>
  <p>I'm Chris McMordie and I am making <span class="orange">one website per weekday</span> as I learn programming.</p>
</div>
<div>
<!--   <ul>
    <li>1/28/15<a href="/3/random_background"> Get a Random Color Background</a></li>
    <li>1/27/15<a href="/2/make_a_deal"> Make a Deal!</a></li>
    <li>1/26/15<a href="/"> Homepage</a></li>
  </ul> -->
  <table style="width:100%">
    <tr><th>Date</th><th>Project</th></tr>
    <tr><td>1/29/15</td><td><a href="/5/secret_message">Secret Message</a></td></tr>
    <tr><td>1/28/15</td><td><a href="/4/mondrian">Paint a Mondrian</a></td></tr>
    <tr><td>1/28/15</td><td><a href="/3/random_background">Get a Random Color Background</a></td></tr>
    <tr><td>1/27/15</td><td><a href="/2/make_a_deal">Make a Deal!</a></td></tr>
    <tr><td>1/26/15</td><td><a href="/">Homepage</a></td></tr>
</table>
</div>