body {
  background-color: beige;
  text-align: center;
}
#total {
  margin-bottom: 40px;
}
#dice1, #dice2 {
  position: relative;
  margin: 20px; 
}
.shake {
  -webkit-animation: shake .1s 10;
  animation: shake .1s 10;  
}
@-webkit-keyframes shake {
  0%  {left: 0px;}
  25% {left: -25px;}
  50% {left: 25px;}
  75% {left: -25px;}
  100% {left: 0px;}
}
@keyframes shake {
  0%  {left: 0px;}
  25% {left: -25px;}
  50% {left: 25px;}
  75% {left: -25px;}
  100% {left: 0px;}
}
#shake {
  height: 56px;
  width: 180px;
  margin-top: 60px;
  background-color: limegreen;
  border-radius: 10px;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
}