body {
  background-color: lightcyan;
  text-align: center;
}
h3 {
  line-height: 2;
}
#letsplay {
  font-size: 30px;
}
#page2 {
  display: none;
}
#message {
  height: 50px;
}
#score {
  position: relative;
  bottom: 40px;
  left: 500px;
  height: 40px;
  width: 100px;
  background-color: firebrick;
  color: white;
  padding-top: 8px;
}
#word-out {
  background: firebrick;
  height: 50px;
  width: 600px;
  margin: 65px auto 75px auto;
}
#word {
  font-size: 30px;
  letter-spacing: 10px;
  color: white;
  position: relative;
  top: -75%;
/*   -webkit-transform: translateY(-50%);
  transform: translateY(-50%); */
}
#guess {
  height: 50px;
  width: 500px;
  padding: 10px;
  font-size: 30px;
  border: 0px;
}
#submit {
  height: 50px;
  width: 100px;
  margin: -12px 0 0 -4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}