body {
  background-color: Snow;
}
.quote {
  white-space: pre;
  font-family: monospace;
  font-size: 26px;
}
.quote1 {
  position: fixed;
  margin-top: 200px;
}
.quote2 {
  margin: 1200px 0 1200px 0;
}
.scroll-down {
  margin-top: 130px;
  color: lightgray;
  position: absolute;
}
.einstein {
  color: lightgray;
}