@font-face {
    font-family: digital-7-mono;
    src: url(fonts/digital-7.mono.ttf);
}
.no-space {
  margin: 0 -20px;
}
body > .container {
  width: 100%;
}
#stopwatch {
  font-family: digital-7-mono;
/*   font-size: 11em; */
  font-size: 20vw;
  width: 100%;
  text-align: center;
  margin: 0 auto;
/*   margin-bottom: 80px; */
}
#buttons {
  display: block;
  margin: 0 auto;
  text-align: center;
}
button {
  margin: 0 20px;
  width: 100px;
  height: 40px;
}
.btn {
  color: black;
  font-size: 20px;  
}